.app-controller {
  display: grid;
  margin-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: 1fr minmax(253px, 320px) minmax(500px, 980px) 1fr;
  grid-template-areas: "left orderbook graph right";
  min-height: calc(100vh - 251px);
}

.orderbook, .graph {
  border: 2px solid rgb(80, 80, 80);
}

.left {
  grid-area: left / left / left / left;
}

.right {
  grid-area: right / right / right / right;
}

.graph {
  grid-area: graph / graph / graph / graph;
  border-left-width: 0;
}

.orderbook {
  grid-area: orderbook / orderbook / orderbook / orderbook;
}

.orderbook h2 {
  font-size: 14px;
}

.orderbook table {
  width: 100%;
  color: rgb(153, 153, 153);
  padding: 10px;
}

.orderbook th {
  font-weight: 400;
  color: rgb(100, 100, 100);
  text-align: right;
}

.orderbook th:nth-child(1) {
  text-align: left;
}

.orderbook table p {
 margin: 0;
 padding: 0;
}

.orderbook table td p {
  font-size: 10px;
  text-align: right;
}

.orderbook table td:nth-child(1) p {
  text-align: left;
}